<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js"></script>
  <script src="../dist/v-selection.js"></script>
  <style>
    #app {
      width: 800px;
      margin: 0 auto;
    }

    .box {
      position: relative;
      margin-top: 60px;
    }

    .box p {
      line-height: 30px;
      margin: 0 auto;
    }

    textarea {
      width: 50%;
      height: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      font-size: 16px;
    }

    .select-box {
      background-color: red;
      color: white;
      padding: 10px;
    }

    button {
      margin-top: 10px;
      padding: 5px 20px;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>select the text in the red box anyway you like</h1>
    <div class="box">
      <h2>fix the red box</h2>
      <p>In me, past, present, future meet</p>
      <p>To hold long chiding conference.</p>
      <p>My lusts usurp the present tense</p>
      <p>And strangle Reason in his seat.</p>
      <p>My loves leap through the future's fence</p>
      <p>To dance with dream-enfranchised feet.</p>
      <div class="select-box" v-selection.fix="{getSelection:getSelection1}" v-if="show1">
        Select the text!
        <span>---span---</span>
        <div>another line</div>
      </div>
      <p>In me the cave-man clasps the seer,</p>
      <p>And garlanded Apollo goes</p>
      <p>Chanting to Abraham's deaf ear.</p>
      <p>In me the tiger sniffs the rose.</p>
      <p>Look in my heart, kind friends, and tremble,</p>
      <p>Since there your elements assemble.</p>
      <button @click="show1 = !show1">toggle the select-box</button>
      <textarea v-model="fixStr1"></textarea>
    </div>
    <div class="box">
      <h2>do not fix the red box</h2>
      <p>In me, past, present, future meet</p>
      <p>To hold long chiding conference.</p>
      <p>My lusts usurp the present tense</p>
      <p>And strangle Reason in his seat.</p>
      <p>My loves leap through the future's fence</p>
      <p>To dance with dream-enfranchised feet.</p>
      <div class="select-box" v-selection="{getSelection:getSelection2}" v-if="show2">
        Select the text!
        <span>---span---</span>
        <div>another line</div>
      </div>
      <p>In me the cave-man clasps the seer,</p>
      <p>And garlanded Apollo goes</p>
      <p>Chanting to Abraham's deaf ear.</p>
      <p>In me the tiger sniffs the rose.</p>
      <p>Look in my heart, kind friends, and tremble,</p>
      <p>Since there your elements assemble.</p>
      <button @click="show2 = !show2">toggle the select-box</button>
      <textarea v-model="fixStr2"></textarea>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      directives: {
        selection: selection.default
      },
      data: {
        fixStr1: '',
        fixStr2: '',
        show1: true,
        show2: true
      },
      methods: {
        getSelection1: function (fixStr, allStr) {
          console.log('%c fixStr1: \n%c' + fixStr, 'background:red;color:white', 'background:#aaa;color:white')
          console.log('%c allStr1: \n%c' + allStr, 'background:red;color:white', 'background:#aaa;color:white')
          this.fixStr1 = fixStr
        },
        getSelection2: function (fixStr, allStr) {
          console.log('%c fixStr2: \n%c' + fixStr, 'background:red;color:white', 'background:#aaa;color:white')
          console.log('%c allStr2: \n%c' + allStr, 'background:red;color:white', 'background:#aaa;color:white')
          this.fixStr2 = fixStr
        }
      }
    })
  </script>
</body>

</html>